In [1]:
import pandas as pd

In [14]:
train_data = pd.read_csv("C:\\Users\\aalam\\Downloads\\Webpages_Classification_train_data.csv.zip")

In [15]:
test_data = pd.read_csv("C:\\Users\\aalam\\Downloads\\Webpages_Classification_test_data.csv.zip")

In [16]:
df_train = train_data[['url','label']]
df_test = test_data[['url','label']]

In [17]:
df_train.groupby('label').count()

           url
label
bad      27253
good   1172747

In [18]:
df_test.groupby('label').count()

          url
label
bad      8062
good   353872

In [12]:
df_test.head()

                                                 url label
0               http://www.dutchthewiz.com/freeware/  good
1                   http://www.collectiblejewels.com  good
2                        http://www.deadlinedata.com  good
3  http://www.mil.fi/maavoimat/kalustoesittely/00...  good
4           http://www.avclub.com/content/node/24539  good

In [19]:
df_train.head()

                                        url label
0  http://members.tripod.com/russiastation/  good
1          http://www.ddj.com/cpp/184403822  good
2                  http://www.naef-usa.com/  good
3                     http://www.ff-b2b.de/   bad
4       http://us.imdb.com/title/tt0176269/  good

In [69]:
df = pd.concat([df_train,df_test])
df.shape

import tldextract

def domain_extract(row):
    ext = tldextract.extract(row.url)
    return ext.domain

df.loc[:,'domain'] = df.apply(lambda row: domain_extract(row) , axis=1)

In [56]:
df.head()

                                        url label    domain
0  http://members.tripod.com/russiastation/  good    tripod
1          http://www.ddj.com/cpp/184403822  good       ddj
2                  http://www.naef-usa.com/  good  naef-usa
3                     http://www.ff-b2b.de/   bad    ff-b2b
4       http://us.imdb.com/title/tt0176269/  good      imdb

In [26]:

df[df.label=='good'].to_csv(f"webpageclassfication.csv.gz",compression='gzip')
df[df.label=='bad'].to_csv(f"webpageclassfication_dga.csv.gz",compression='gzip')

In [42]:
df_umbrella = pd.read_csv("C:/workdir/personal/machinelearningpipeline/src/dataset/input/top-1m.csv.zip",header=None)

In [47]:
df_sample = pd.read_csv("C:/workdir/personal/machinelearningpipeline/src/dataset/input/whois_database_download_sample.csv")

In [79]:
df_s =df_sample[['domainName']]
df_s.loc[:,'label'] = 'good'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [84]:
df_umbrella.loc[:,'label'] = 'good'

In [96]:
df1 = pd.read_csv("C:/workdir/personal/machinelearningpipeline/src\dataset/public-domain-lists-master/public-domain-lists-master/opendns-random-domains.txt",header=None)
df2 = pd.read_csv("C:/workdir/personal/machinelearningpipeline/src\dataset/public-domain-lists-master/public-domain-lists-master/opendns-top-domains.txt",header=None)

df3 = pd.concat([df1,df2])
df3.loc[:,'label'] = 'good'
df3.columns = ['domainName','label']

In [97]:
df_good = pd.concat([df_umbrella[['domainName','label']],df_s,df3])

In [98]:
df_good.shape
df_good.drop_duplicates(subset=None, keep='first', inplace=True)
df_good.shape

(1013368, 2)

In [99]:
df_good.to_csv("onemillion_benign.csv.gz",compression="gzip")